<!-- <mat-card style="padding-top: 100px; padding-left: 70px;">
    <mat-card-content>
        <div>
            <img src="/assets/image01.jpg"  height="60px" style="padding-right: 5px; border-right: 2px solid white ;">
            <span style=" font: bold 18px 'century gothic', arial, sans-serif; margin-left: 5px;">Welcome to Niraj Jha!!!
            </span>
            <br>
            <span style=" font: italic 10px 'century gothic', arial, sans-serif; margin-left: 120px;">Last login : 04 Feb 2020</span>
        </div>
        <br />
        <hr style="width:50%;text-align:left;margin-left:0">
        <br />
        <div>
            <span style="color: red; font:48px ; margin-left: 5px; font-weight: bolder;">Account Balance : $1000 </span>
        </div>
        <br />
        <br />
        <div>
           
        </div>
        <br />
        <div class = "container" fxLayout="row" >
            <div fxFlex="50%">                    
                <h3>Subscribe to Alerts</h3>
                <section><mat-checkbox>SMS Alert</mat-checkbox></section>
                <section><mat-checkbox>Marketing Newsletter</mat-checkbox></section>
                <section><mat-checkbox>Flyers</mat-checkbox></section>
            </div>
            <div fxFlex="10%">
                <h3>Two way data binding</h3>
                <mat-form-field [style.width.px]=327>
                    <input matInput placeholder="Enter Value for two-way data binding">
                </mat-form-field>    
            </div>
        </div>
    </mat-card-content>
</mat-card> -->
