.example-header{
    max-width: 250px;
    margin-left: 50px;
    max-height: 50em;
    text-align: left;
    background-color: #cc0000;
    color: #FFF ;
}
.mat-card-subtitle{
    color: #FFF;
    font-size: 12px;
    font-weight: lighter;
    
}
.mat-card-title {
    font-size: 40px;
}