<mat-nav-list>

    <mat-card style="background-color:red">
        <mat-card-header style="color:#fff;">
            <mat-card-title  style="color:#fff;padding: 0px;margin-top: 8px;font-size: 10pt;">Angular JS</mat-card-title>      
            <mat-card-title  style="color:#fff;padding: 0px;margin-top: 8px;font-size: 30pt;">iJavaScript</mat-card-title>        
        </mat-card-header>
    </mat-card>
    <a style="font-family: Microsoft JhengHei, arial; font-weight: bold; font-size: 15px; color: #CC0000 " mat-list-item [routerLink]="'/dashboard'">DASHBOARD</a>
    <mat-divider></mat-divider>
    <a style="font-family: Microsoft JhengHei, arial; font-weight: bold; font-size: 15px; color: #CC0000 " mat-list-item [routerLink]="'/about-page'">ABOUT</a>
    <mat-divider></mat-divider>
    <a style="font-family: Microsoft JhengHei, arial; font-weight: bold; font-size: 15px; color: #CC0000 " mat-list-item [routerLink]="'/team-page'">TEAM</a>
    <mat-divider></mat-divider>
</mat-nav-list>


 