<mat-card style="padding-top: 115px; padding-left: 10px;">
    <mat-card-content>
        <div>
            <u><h1>Meet the team!</h1></u>
        </div>
        <br />
        <br />
        <div class = "container" fxLayout="row" >
            <div fxFlex="65%">                    
                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Zeba</h3>
                    </div>
                </div>

                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Nikhil</h3>
                    </div>
                </div>

                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Sasikala</h3>
                    </div>
                </div>

                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Nitish</h3>
                    </div>
                </div>

                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Prakritish</h3>
                    </div>
                </div>

                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Priyanka</h3>
                    </div>
                </div>

                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Umrana</h3>
                    </div>
                </div>
            </div>
                
            <div fxFlex="35%">                    
                <img src="/assets/image03.jpg"  height="100px" style="padding-right: 5px; border-right: 2px solid white ;">
            </div>
        </div>
    </mat-card-content>
</mat-card>

