<mat-card style="padding-top: 115px; padding-left: 10px;">
    <mat-card-content>
        <div>
            <h1>Meet the team !</h1>
        </div>
        <br />
        <br />
        <div class = "container" fxLayout="row" >
            <div fxFlex="65%">                    
                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Srilatha Padmanabhan</h3>
                    </div>
                </div>

                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Kalaivani Anandan</h3>
                    </div>
                </div>

                <div class = "container" fxLayout="row" >
                    <div fxFlex="5%">
                        <mat-icon class="mat-18">account_circle</mat-icon>
                    </div>
                    <div fxFlex="35%">
                        <h3>Murali M Kummari</h3>
                    </div>
                </div>
            </div>
                
            <div fxFlex="35%">                    
                <img src="/assets/background.jpg"  height="100px" style="padding-right: 5px; border-right: 2px solid white ;">
            </div>
        </div>
    </mat-card-content>
</mat-card>

