<mat-card style="padding-top: 115px; padding-left: 10px;">
    <mat-card-content>
        <div>
            <h1>About iJavaScript</h1>
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />


        <div class="container" fxLayout="row">
            <div fxFlex="25%">
                <img src="/assets/image01.jpg" height="100px" style="padding-right: 5px; border-right: 2px solid white ;">
            </div>

            <div fxFlex="50%">
                <h4> iJavaScript is a research group, founded to check different Javascript frameworks based on different design patterns.
                    <br />
                    <br /> During Kick-Off it will test React, Angular, KnockOut and Ember JS features. This use case will prove different aspects of Framework capabilitites.
                </h4>
            </div>
        </div>
        <br />
        <br />
        <h2>Re-usable Component</h2>
        <br />
        <br />
        <div class="container" fxLayout="row">
            <div fxFlex="35%">
                <img src="/assets/image02.jpg" alt="flowers" height="100px" style="padding-right: 5px; border-right: 2px solid white ;">
            </div>

            <div fxFlex="35%">
                <img src="./assets/image01.jpg" alt="flowers" height="100px" style="padding-right: 5px; border-right: 2px solid white ;">
            </div>
        </div>

    </mat-card-content>
</mat-card>