.mat-form-field {
    width: 80%;
    margin: 0 1.5%;
    color: white;
}

.fxLayout {
    margin-top: 50%;
}

.loginButton {
    background-color: #CC9900;
    border-color: #775900;
    color: #FFF;
    margin-left: 50%;
}

.errorText {
    background-color: #CC0002;
}